.loader {
  display: flex;
  justify-content: center;

  &__circle {
    position: relative;

    display: inline-block;
    width: 80px;
    height: 80px;
  }

  &__circle div {
    position: absolute;

    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;

    border: 6px solid darkred;
    border-color: darkred transparent transparent transparent;
    border-radius: 50%;

    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }

  &__circle div:nth-child(1) {
    animation-delay: -0.45s;
  }

  &__circle div:nth-child(2) {
    animation-delay: -0.3s;
  }

  &__circle div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
