.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 100px;

  &__logo {
    font-size: 25px;
    font-weight: 700;

    transition: color 0.5s ease;

    &:hover {
      color: darkred;

      transition: color 0.5s ease;
    }
  }

  &__menu {
    display: flex;
    a {
      display: block;
      margin-left: 30px;

      font-weight: 700;

      transition: color 0.5s ease;

      &:first-of-type {
        margin-left: 0;
      }

      &.header__active {
        text-decoration: underline;

        color: darkred;

        transition: color 0.5s ease;
      }

      &:hover {
        color: darkred;

        transition: color 0.5s ease;
      }
    }
  }
}
