.post {
  display: block;
  width: 30%;
  margin-bottom: 20px;
  padding: 15px;

  background: #cccccc;
  border: 1px solid #cccccc;

  &:hover {
    background: #ffffff;

    .post__title {
      text-decoration: underline;
    }
  }

  &__title {
    font-size: 20px;
  }
}
